header{
  color: #888;
}

header h1{
  font-size: 65px;
  color: $blue;
  font-weight: 600;

}

header {
  margin-bottom: 40px;
}

.main-content li {
  list-style: disc;
  margin-left: 20px;
}

.header {
  //background-image: linear-gradient(131deg, #0085fb, #00f2d8);
  background-color: $grey-bright;
  color: white;
  min-height: 30rem;
  overflow: hidden;
  display: flex;
}

.header-picture {
  background-image: url("/images/hero-huge.png ");
  width:100%;
}

.header-mobile {
  display: none;
}

.header-text {
  margin-left: 135px;
  margin-top: 120px;
}

.header img {
  width: 100%;
  background-size: cover;
  position: absolute;
  overflow: hidden;
  height: 20em; /*  TODO: Fix background image */
}