<head>
	<meta charset="UTF-8">
	<title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@demokratielabore">
	<meta name="twitter:creator" content="@demokratielabore">
	<meta name="og:title" content="Put Title here">
	<meta name="twitter:title" content="put title here">
	<meta name="og:url" content="put URL here">
	<meta name="twitter:url" content="put URL here">
	<meta name="twitter:description" content="Put description here">
	<meta name="og:description" content="put description here">
	<meta name="twitter:image:src" content="put image here">
	<meta name="og:image" content="putimage here">
	<meta name="description" content="put description here">
	<meta property="og:type" content="website">

	<link type="text/css" rel="stylesheet" href="styles/styles.css">
	<link type="text/css" rel="stylesheet" href="styles/font-awesome.min.css">
	<link rel="stylesheet" href="/fonts/overpass/overpass.css">
</head>
