/* mobile view*/
@media (max-width: 70em) {
  .toc {
    display: none;
  }

  .main-content {
    width: 90%;
    //padding-right: 7em;
  }

  .header {
    /*display: none;*/
  }

  .header-mobile {
    display: block;
    height: 5em;
    width: 100%;
    border-bottom: 1px solid black;
    position: fixed;
    background-color: white;
    z-index: 10;
  }

  .container {
    margin-top: 5em;
  }

  .header-picture {
    background-image: url(/images/hero-middle.png);
    margin-top: 5em;
    background-repeat:no-repeat;
    background-size: contain;
    display: flex;

  }
}


@media (max-width: 55em) {
  .toc {
    display: none;
  }

  .main-content {
    width: 90%;
    //padding-right: 7em;
  }

  .header {
    /*display: none;*/
  }

  .header-mobile {
    display: block;
    height: 5em;
    width: 100%;
    border-bottom: 1px solid black;
    position: fixed;
    background-color: white;
    z-index: 10;
  }

  .container {
    margin-top: 5em;
  }

  .header-picture {
    background-image: url(/images/hero-55.png);
    margin-top: 5em;
    background-repeat:no-repeat;
    background-size: contain;
  }
}


@media (max-width: 30em) {
  .toc {
    display: none;
  }

  .main-content {
    width: 90%;
    //padding-right: 7em;
  }

  .header {
    /*display: none;*/
  }

  .header-mobile {
    display: block;
    height: 3.5em;
    width: 100%;
    border-bottom: 1px solid black;
    position: fixed;
    background-color: white;
    z-index: 10;
  }

  .container {
    margin-top: 5em;
  }

  .header-picture {
    background-image: url(/images/hero-small.png);
    margin-top: 5em;
    background-repeat:no-repeat;
    background-size: contain;
    display: flex;
  }

  #menuToggle {
    top: 25px;
  }
}