table {
  border-collapse: collapse;
  font-size: 0.8rem;
  margin: 1rem 0;
  width: 100%;
  color: $main-color;
  vertical-align: top;
}

table th {
  background: $blue;
  color: #fff;
  text-transform: uppercase;
  padding: 0.5rem;
  font-family: fira-sans-regular;
}

table tr:nth-of-type(2n) {
  background: #fff;
  vertical-align: top;

}

table tr:nth-of-type(2n+1) {
  background: $grey-bright;
    vertical-align: top;

}

table td {
  padding: 0.5rem;
}
