<!DOCTYPE html>
<html lang="de-de">
{% include head.html %}

<head>
	<link rel="stylesheet" href="/fonts/overpass/overpass.css">
</head>


<body>
	<header>
		<div class="header-mobile">
			<nav role="navigation">
				<div id="menuToggle">

					<!--fake checkbox-->
					<input type="checkbox" />

					<!--hamburger nom nom-->
					<span></span>
					<span></span>
					<span></span>

					<!--
					Too bad the menu has to be inside of the button
					but hey, it's pure CSS magic.
					-->
					<!--<ul id="menu">-->
					<!--<a href="#"><li>Home</li></a>-->
					<!--<a href="#"><li>About</li></a>-->
					<!--<a href="#"><li>Info</li></a>-->
					<!--<a href="#"><li>Contact</li></a>-->
					<!--<a href="https://erikterwan.com/" target="_blank"><li>Show me more</li></a>-->
					<!--</ul>-->
					<ul id="menu">
						{% assign chapters = site.chapters | where: "type", "chapter" | sort: "chapter" %}
						{% for chapter in chapters %}
						<li>
							<p class="toc-chapter"><a href="#{{chapter.chapter}}-{{chapter.title}}">{{chapter.chapter}} {{chapter.title}}</a></p>
							{% assign sections = site.chapters | where: "type", "section" | where: "chapter", chapter.chapter | sort: "section" %}
							<ul class="toc-section-list">
								{% for section in sections%}
								<li>
									<p><a href="#{{chapter.chapter}}-{{section.section}}-{{section.title}}">{{chapter.chapter}}.{{section.section}} {{section.title}}</a></p>
									{% assign subsections = site.chapters | where: "type", "subsection" | where: "chapter", chapter.chapter | where: "section", section.section | sort: "subsection" %}
									<ul class="toc-subsection-list">
										{% for subsection in subsections %}
										<li><a href="#{{chapter.chapter}}-{{section.section}}-{{subsection.subsection}}-{{subsection.title}}">{{chapter.chapter}}.{{section.section}}.{{subsection.subsection}} {{subsection.title}}</li>
										{% endfor %}
									</ul>
								</li>
								{% endfor %}
							</ul>
						</li>
						{% endfor %}
					</ul>
				</div>
			</nav>
			<!--<nav class="nav" role="navigation">-->
				<!--<ul class="nav__list">-->
					<!--<li>-->
						<!--<input id="group-1" type="checkbox" hidden />-->
						<!--<label for="group-1"><span class="fa fa-angle-right"></span> First level</label>-->
						<!--<ul class="group-list">-->
							<!--<li><a href="#">1st level item</a></li>-->
							<!--<li>-->
								<!--<input id="sub-group-1" type="checkbox" hidden />-->
								<!--<label for="sub-group-1"><span class="fa fa-angle-right"></span> Second level</label>-->
								<!--<ul class="sub-group-list">-->
									<!--<li><a href="#">2nd level nav item</a></li>-->
									<!--<li><a href="#">2nd level nav item</a></li>-->
									<!--<li><a href="#">2nd level nav item</a></li>-->
									<!--<li>-->
										<!--<input id="sub-sub-group-1" type="checkbox" hidden />-->
										<!--<label for="sub-sub-group-1"><span class="fa fa-angle-right"></span> Third level</label>-->
										<!--<ul class="sub-sub-group-list">-->
											<!--<li><a href="#">3rd level nav item</a></li>-->
											<!--<li><a href="#">3rd level nav item</a></li>-->
											<!--<li><a href="#">3rd level nav item</a></li>-->
										<!--</ul>-->
									<!--</li>-->
								<!--</ul>-->
							<!--</li>-->
						<!--</ul>-->
					<!--</li>-->
					<!--<li>-->
						<!--<input id="group-2" type="checkbox" hidden />-->
						<!--<label for="group-2"><span class="fa fa-angle-right"></span> First level</label>-->
						<!--<ul class="group-list">-->
							<!--<li>-->
							<!--<li><a href="#">1st level item</a></li>-->
							<!--<li><a href="#">1st level item</a></li>-->
							<!--<input id="sub-group-2" type="checkbox" hidden />-->
							<!--<label for="sub-group-2"><span class="fa fa-angle-right"></span> Second level</label>-->
							<!--<ul class="sub-group-list">-->
								<!--<li><a href="#">2nd level nav item</a></li>-->
								<!--<li><a href="#">2nd level nav item</a></li>-->
								<!--<li>-->
									<!--<input id="sub-sub-group-2" type="checkbox" hidden />-->
									<!--<label for="sub-sub-group-2"><span class="fa fa-angle-right"></span> Third level</label>-->
									<!--<ul class="sub-sub-group-list">-->
										<!--<li><a href="#">3rd level nav item</a></li>-->
									<!--</ul>-->
								<!--</li>-->
							<!--</ul>-->
							<!--</li>-->
						<!--</ul>-->
					<!--</li>-->
					<!--<li>-->
						<!--<input id="group-3" type="checkbox" hidden />-->
						<!--<label for="group-3"><span class="fa fa-angle-right"></span> First level</label>-->
						<!--<ul class="group-list">-->
							<!--<li>-->
							<!--<li><a href="#">1st level item</a></li>-->
							<!--<li><a href="#">1st level item</a></li>-->
							<!--<input id="sub-group-3" type="checkbox" hidden />-->
							<!--<label for="sub-group-3"><span class="fa fa-plus"></span> Second level</label>-->
							<!--<ul class="sub-group-list">-->
								<!--<li><a href="#">2nd level nav item</a></li>-->
								<!--<li><a href="#">2nd level nav item</a></li>-->
								<!--<li><a href="#">2nd level nav item</a></li>-->
								<!--<li>-->
									<!--<input id="sub-sub-group-3" type="checkbox" hidden />-->
									<!--<label for="sub-sub-group-3"><span class="fa fa-plus"></span> Third level</label>-->
									<!--<ul class="sub-sub-group-list">-->
										<!--<li><a href="#">3rd level nav item</a></li>-->
										<!--<li><a href="#">3rd level nav item</a></li>-->
										<!--<li><a href="#">3rd level nav item</a></li>-->
									<!--</ul>-->
								<!--</li>-->
							<!--</ul>-->
							<!--</li>-->
						<!--</ul>-->
					<!--</li>-->
					<!--<li>-->
						<!--<input id="group-4" type="checkbox" hidden />-->
						<!--<label for="group-4"><span class="fa fa-angle-plus"></span> First level</label>-->
						<!--<ul class="group-list">-->
							<!--<li>-->
							<!--<li><a href="#">1st level item</a></li>-->
							<!--<input id="sub-group-4" type="checkbox" hidden />-->
							<!--<label for="sub-group-4"><span class="fa fa-plus"></span> Second level</label>-->
							<!--<ul class="sub-group-list">-->
								<!--<li><a href="#">2nd level nav item</a></li>-->
								<!--<li><a href="#">2nd level nav item</a></li>-->
							<!--</ul>-->
							<!--</li>-->
						<!--</ul>-->
					<!--</li>-->
				<!--</ul>-->
			<!--</nav>-->
		</div>
		<div class="header">
			<div class="header-picture">
				<!--<img src="/images/group-2@3x.png" alt="">-->
				<div class="header-text">
					<h1 class="text-center">Handbuch für die Durchführung netzpolitischer Workshops</h1>
					<p class="text-center">Ein Leitfaden für Mitarbeiterinnen von Jugendeinrichtungen erstellt vom Team der Demokratielabore</p>
					<p class="text-center">CC-BY 4.0</p>
				</div>
			</div>

		</div>
	</header>
		{{ content }}
	<script src="/js/stickyfill.js"></script>
	<script src="/js/stickybits.js"></script>
	<script src="/js/main.js"></script>
	<script type="text/javascript" src="/js/sticky-sidebar.js"></script>

	<script type="text/javascript">
		var sidebar = new StickySidebar('.toc', {
			topSpacing: 20,
			bottomSpacing: 20,
			containerSelector: '.container',
			innerWrapperSelector: '.sidebar__inner'
		});
	</script>
</body>
</html>
